.sidebar {
  flex: 1;
    border-right: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
  min-height: 100vh;
  background: var(--white);

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-family: "Montserrat";
      font-style: bold;
      font-weight: 600;
      font-size: 0.93rem;
      line-height: 1rem;
      color: var(--brand-blue);
    }
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }

  .center {
    padding-left: 0.625rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-family: "Montserrat";
        font-style: bold;
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 1rem;
        color: var(--slate-grey);
        margin-top: 0.93rem;
        margin-bottom: 0.3125rem;
      }

      li {
        display: flex;

        align-items: center;
        padding: 0.3125rem;
        cursor: pointer;
        transition: all 0.2s ease-in;
        font-size: 0.9rem;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          margin: 0.625rem;

        &:hover {
          background: var(--brand-blue);
          color: var(--white);
          border-radius: 0.25rem;
        }

        .icon {
          font-size: 1.125rem;
          color: var(--slate-grey);

          &:hover {
            color: var(--white);
          }
        }
      
      }
    }
  }
}
