.main__container{
    background-color: var(--white);
    height: 90vh;
    .container{
        display: flex;
        flex-direction: column;
        border: 0.25rem solid red;
        margin: 0 10%;
        padding: 4rem 2rem;
        height: 100%;
        .content{
            margin: 0 auto;
            display: flex;
            // flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

@media  screen and (min-width: 320px) and (max-width: 480px) {
    .main__container{
        height: 100vh;
        
        .container{
            
            margin: 0 5%;
            padding: 4rem 1rem;
        }
    }
}