.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
  }

  .navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navitem {
    margin-left: 5rem;
    list-style-type: none;
  }



  .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    letter-spacing: 0.2px;

    color: var(--white);
    text-transform: uppercase;
  }

  .navlink:hover {
    color: var(--notification-red);
  }

  .navlogo {
    font-family: montserrat;
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--white);
  }

  @media  screen and (min-width: 320px) and (max-width: 948px) {
    .navmenu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background: linear-gradient(82.34deg, #0c0c0f -7.27%, #203758 109.94%);
      width: 100%;

      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
    }
    .navlink {
      color: var(--white);
    }
    .navmenu.active {
      left: 0;
    }

    .navitem {
      margin: 2.5rem 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      background: transparent;
      border:none;
      outline: none;
      .bar{
        background-color: white;
      }
      
      
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
      
      
    }

    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }