


    .form__contaienr {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      gap: 6.75rem;

      .form__center {
        flex: 1;

        .input__div {
          margin: 1.3rem 0px;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          > span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 0.8125rem;
            line-height: 1rem;

            /* identical to box height */

            /* Slate Grey */
            color: var(--slate-grey);
          }

          .input {
            appearance: none;
            padding: 0.5rem 1.9375rem;
            /* Content */
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1.625rem;

            /* or 26px */

            /* Catalina Blue */
            color: var(--dark-blue);
            background: var(--alice-blue);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.096);
            border-radius: 1rem;
            outline: none;
            border: none;

            &::placeholder {
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 187.4%;

              /* or 26px */

              /* Slate Grey */
              color: var(--slate-grey);
            }
            &:focus-visible {
              outline: 1px solid var(--slate-grey);
            }
          }
        }
      }
    
    }
    .btn__container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      bottom: -4rem;
      left: 80%;

      .btn__next {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        padding: 0.5rem 2rem;
        /* Facebook blue */
        background: var(--brand-blue);
        border-radius: 7px;

        .btn__icn{
          position: absolute;
          right: 1rem;
        }
      }
    }
  
