.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  @media only screen and (max-width: 1000px) {
  padding: 0 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 80px;
    height: calc(100% - 80px);
    
    .info_cards{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 25vw;
      height: 100%;
      padding: 2rem;
      gap: 2rem;

      @media only screen and (max-width: 1000px) {
          display: none;
      }
      
      .group_desc{
        background-color: #fff;
        flex: 1;
        width: 100%;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        background: var(--white);

        border: 1.5px solid var(--solitude);
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .image_wraper{
          flex: 5;
          display: flex;
          align-items: center;
          justify-content: center;

          .image{
            padding-right: 50px;
            img{
              border-radius: 50%;
              border: 3px solid var(--white);
              box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
            }
          }
          
        }
        .info{
          flex: 4;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 0 1rem;
          padding-bottom: 1rem;

          .heading{
            font-size: 1.5rem;
            color: var(--dark-blue);
            text-align: center;
          }
          .subheading{
            font-size: 1rem;
            color: var(--slate-grey);

          }
        }
      }

      .available_chats_wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 3;
        width: 100%;

        .title{
          flex: 1;
          max-height: 3rem;
          display: flex;
          width: 100%;
          font-size: 1.5rem;
          color: var(--dark-blue);
        }

        .available_chats{
          flex: 10;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;
          width: 100%;
          max-height: 500px;
          background: var(--white);
          // border: 1.5px solid var(--solitude);
          box-sizing: border-box;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background: rgba(24, 119, 242, 0.5);
          }
          
          .thread{
              border-bottom: 1px solid var(--solitude);
              padding: 0.5rem;

          .image_wraper{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1.5px solid var(--brand-blue);

            .image{
            background: var(--white);
            width: 56px;
            height: 56px;
            border-radius: 50%;
            filter: drop-shadow(-1px 1px 4px rgba(24, 119, 242, 0.6));;

            }
          }
          }
        }
      }
    }

    .chat_container{
      flex: 2;
      padding: 2rem;

      .chat_wraper{
        height: 100%;
        width: 100%;
        background: var(--solitude);
        border: 1.5px solid var(--solitude);
        box-sizing: border-box;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .chat_box{
          flex:1;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 2rem;
          padding: 1rem;

          &::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background: rgba(24, 119, 242, 0.5);
          }
        }

        .textbar_wraper {
          display: flex;
          padding: 1rem;
          flex-direction: row;
          width: 100%;
          height: 90px;
          font-size: 1.5rem;

          .textbar{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            
            .textbox{
              flex: 10;
              min-height: 100%;
              background: var(--white);
              box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
                          0px 1px 5px rgba(0, 0, 0, 0.25);
              border-radius: 8px;
              resize: none;
              border: none;
              padding: 8px;

              &:focus-visible{
                outline: 1px solid var(--brand-blue);
              }

            }
            .send{
              height: 55px;
              width: 55px;
              background: var(--white);
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
              0px 1px 5px rgba(0, 0, 0, 0.25);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.chat_recive{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  
  .profile_pic {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--white);
  }
  .message_wraper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    .message{
      height: 100%;
      width: 55%;
      background-color: #fff;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px 10px 10px 0px;
      padding: 0.8rem;
      color: var(--dark-blue);
    }
    .timestamp{
      color: var(--slate-grey);
      padding-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

.chat_sent{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;

    .profile_pic {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      border: 2px solid var(--white);
  }
  .message_wraper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    .message{
      height: 100%;
      width: 55%;
      background: rgba(24, 119, 242, 0.5);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px 10px 0px 10px;
      padding: 0.8rem;
      color: 101010;
    }
    .timestamp{
      color: var(--slate-grey);
      padding-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
